@import '../../../../../styles/common';

.form-validation {
  //font-family: $font-family-secondary;
  color: $color-error;
  text-align: left;
  font-size: 12px;
  margin-top: -16px;
  padding-bottom: 2px;
}
